*{
  text-align: center;
}

ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
p{
  color: #D37676;
}
.note{
  font-size: 20px;
}
#id-selector-demo{
  color: green;
  font-family: 'Times New Roman', Times, serif;

}
li[value = "4"]{
  color: #D37676;
}